header {
    background: gray;
    height: 109px;
    font-family: "Alata", sans-serif;
    font-size: 2.5em;

}

/* Centralizando o título */
header > div{
    position: relative;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);

    width: 30%;
    
}

h2 {
    padding-top: 16px;

    font-family: "Alata", sans-serif;
    font-size: 1.5em;
}

p {
    padding-top: 16px;

    font-family: "Alata", sans-serif;
    font-size: 1em;
    line-height: 1.5;

    width: 630px; 
    word-break: keep-all;
}

ol {
    padding-top: 16px;

    font-family: "Alata", sans-serif;
    font-size: 1em;
    line-height: 1.5;

    list-style: decimal;
}

ul {
    padding-top: 16px;

    font-family: "Alata", sans-serif;
    font-size: 1em;
    line-height: 1.5;

    list-style-type: disc;
}

a {
    color: rgb(0, 0, 0);
}

.imagem {
    background: rgb(206, 206, 206);
    border-radius: 128px;
    box-sizing: border-box;
}
.fundo-cinza {
    padding: 32px;
    background: rgb(228, 228, 228);
}

.fundo-branco {
    padding: 32px;
    background: rgb(255, 255, 255);
}

#top-5 {
    padding-top: 42px;
}

footer {
    background: gray;
}